<form class="form-group">
    <label for="monsters" class="monster-list">Choose a monster:</label>
    <select id="monsters">
        {{#each Monster}}
            <option id = {{id}}>{{name}}</option>
        {{/each}}
    </select>
    <button type="submit">submit</button>
    <script src="./assets/script.js"></script>